/* css untuk description */
.description {
    width: 12%;
}
#Description {
    width: 100%;
}

.category {
    width: 11%;
}
#category {
    width: 100%;
}

.unit-price {
    width:15%;
}
#unit-price {
    width: 100%;
}

.days {
    width: 7%;
}
#days {
    width: 100%;
}

.total {
    width: 25%;
}
#total-price {
    width: 100%;
}

.startdate {
    width: 45%;
}

.enddate {
    width: 45%;
}

